body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.hero_section
{ 
    background-image: linear-gradient(220deg,green,black);
    width: 100vw;
    height:70vh;
}
.img_veiw
{
height:90%;
width: 100vw;
display: block;
animation: rote 3s ease-in-out;
transition: all 4S ease-in-out;
background-position: center;
background-size: cover; 
}

@keyframes rote
{
    0%
    {
        transform:translatey(-1000px) 
       }
}
.perant_menu
{
height:9%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.menu
{
color: aliceblue;
text-decoration: none;
transition: all .3s ease-in-out;
}
.menu:hover,.menu:active
{
color: red;

}
.logo_hero_section
{
width: 100vw;
height:100%;
animation: slide1 4s ;
transition: all 12s ease-in-out;
}
@keyframes slide1
{
1%
{
transform: translatex(-100%);
}

} 
/* slide start */
.carousel-control-next-icon,.carousel-control-prev-icon
{
    border: 1px solid white;
    background-color: black;
    border-radius: 50%;
    width:20px;
    height:20px;

}
.carousel
{
margin:20px;
border-radius: 12px;
height:25vh;
box-shadow:9px 9px 5px rgb(83, 73, 46);
}

.carousel-inner
{
    height:100%;
    border-radius: 12px;
}
/* slide end */

.content {
    display: none;
    font-size: 24px;
    font-weight: bold;
}
.dddd
{
    display: block;
}
.liks_nav
{

  padding: 10px;
  border: 1px solid white;
  display: flex;
  gap:30px ;
  overflow-y: scroll;
}

.link
{
min-width:100px;
height:25px;
color: white;
background-image: linear-gradient(20deg,green,black);
font-size: 14px;
display: flex;
align-items: center;
justify-content: center;
border-radius:20px;
font-weight: 400;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
transition: all 1s ease-in-out;
}
.link:hover,.link:active
{
    background-image:none;
    background-color: black;
}

.title_cards
{
 transition: all 2s ease-in-out ;
 animation: t_c  1s ease-in-out ;
 background-image: linear-gradient(20deg,green,black);
 color: aliceblue;
 width: 140px;
 height:30px;
 margin:30px auto;
 font-size: 15px;
 display: flex;
 align-items: center;
 border-radius: 50px;
 justify-content: center;
}
.card_1
{
    transition: all .2s ease-in-out ;
    animation: t_c  4s ease-in-out ;
}
.card_2
{
    transition: all .2s ease-in-out ;
    animation: t_c  3s ease-in-out ;
}








@keyframes t_c
{
    0%
    {
        transform:translatex(-350px);
        color: red;
    }
}

.cards
{
padding-inline: 10px;
display: block;
display: grid;
gap: 30px;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(10,1fr);

}
.card
{ 
border: 1px solid #8080804a;
display: flex;
flex-direction: column;
justify-content: space-between;
transition: all 1s ease-in-out;
}
.card:hover
{ 
transform: scalex(1.1);
transform: scaley(1.2);
}

.perant_img
{
    width:100%;
    height:100%;
   display: flex;
  align-items: center;
  justify-content: center;
}
.img_card
{
    width:85%;
    height:85%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name_card,.number_card
{
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
height: 20%;
background-color:#80808038;
margin: 0;
display: flex;
align-items: center;
justify-content: center;
color: black;
}


